<div ng-controller="EventManagementCtrl">
	<H1>Voxxed ticketmaster: managing events</H1>

	<table border='1' ng-show="events">
		<tr>
			<th>Name</th>
			<th>Location</th>
            <th>Seating</th>
            <th></th>
		</tr>
		<tr ng-repeat="event in events">
            <td>{{event.name}}</td>
            <td>{{event.location}}</td>
            <td>
                <span ng-repeat="seat in event.eventSeatings">
                    {{seat.rank}} - {{seat.amountOfSeats}}
                    <button ng-click="editSeating(seat)">Edit seating</button>
                    <button ng-click="deleteSeating(seat)">Delete seating</button>
                    <br/>
                </span>
            </td>
            <td>
              <button ng-click="editEvent(event)">Update</button>
              <button ng-click="deleteEvent(event)">Delete</button>
              <button ng-click="addSeating(event)">Add seating</button>

            </td>
		</tr>
	</table>
	<button ng-click="addEvent()">Add event</button>
</div>
